
#log-create-form{
    display: none;
}

fieldset{
    border: none;
    width: 100%;
}

*{
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.logo{
    margin-left: 20px;
}

header{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: uppercase;
}

#createNewIcon{
    height: 50px;
    width: 50px;
}

header li{
   list-style-type: none;
   display: inline;
   padding: 0 20px;
   font-size: 18px;

}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    font-weight: bold;
    border-bottom: 2px solid white;
}


html, body{
  background: #FE9985;
  width: 100%;
  margin: 0;
  height: 100%
}

#instructions{
    margin-bottom: 180px;
    font-size: 36px;
    border-bottom: 2px solid white;
}

#dateSearch{
    text-align: center;
}

#search-date{
    border: none;
    width: 40%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    background: none;
    color: white;
    border-bottom: 2px solid white;
}



html {
  box-sizing: border-box;
  height: 100%;
}

#logSearch{
  color: #FE9985;
  background: #FFE3DC;
  display: inline-block;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
  float: inherit;
  margin: 20px;
  padding: 50px;
  border-radius: 10%;
  text-align: left;
  width: 40%;
}

.logSearchButtons{
    text-align: center;
    font-size: 12px;
    border-radius: 30px;
    background: none;
    color: white;
    border: 2px solid white;
    width: 100px;
    height: 50px;
    height: 50px;
}

.logSearchButtons:hover{
    background:white;
    color: #FE9985;
}

.editButtons{
    width: 75px;
    height: 30px;
    font-size: 12px;
    border-radius: 30px;
    background: none;
    color: white;
    border: 2px solid white;
    margin-top: 25px;
}

.buttonsNew{
    border: none;
    background: transparent;
    padding: 0 100px;
}

.buttonsNew:hover{
    border-bottom: 5px solid white;
    cursor: pointer;
}


.buttonsNew img{
    width: 150px;
    height: 150px;
}


#startSection{
    text-align: center;
}

.buttons{
    width: 125px;
    height: 50px;
    font-size: 12px;
    border-radius: 30px;
    background: none;
    color: white;
    border: 2px solid white;
}

.buttons:hover{
    background:white;
    color: #FE9985;
}

p { 
    margin:10px;
    border-bottom: 2px solid white;  
    padding-bottom: 4px;
    padding: 15px 0;
}


#logDate{
    color: #FE9985;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

body {
  color: #fff;
  font-size: 1.0em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 1;
}



#todaysLog{
    margin: 0 auto;
    text-align: center;
}

#createLog{
    display: flex;
    justify-content: center;
}

#log-create-form, #log-edit-form{
    text-align: left;
    color: white;
    background: #FE9985;
    display: inline-block;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);
    float: inherit;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    text-align: left;
    width: 40%;
    display: flex;
}

#createLogLegend{
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.form-elements{
    padding: 8px 0;
}

#entry-date{
  border: none;
  width: 60%;
  height: 30px;
  text-align: center;
  background: none;
  color: white; 
  border-bottom: 1px solid white;  
  font-size: 20px;
  margin-left: 20px;
}

#entry-date-div{
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.ranking{
    font-size: 10px;
    color: white;
    margin-left: 5px;
}

#rankingScore{
    font-size: 12px;
    border-bottom: none;
    font-weight: bold;
}


.select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  position: relative;
/*  color: white;*/
  border-bottom: 1px solid white;
}

#log-create-form .buttons{
    width: 100px;
    margin: 20px;
    text-align: center;
}


@media only screen and (max-width: 800px) {
    
   #logSearch todaysLog{
        width: 100%;
        text-align: center;
    }
    
    #logSearch{
        margin-right: 15px;
        width: 100%;
        margin: 0px;
        width: 70%
    }
    
    #instructions{
        font-size: 30px;
    }
    
    .buttons{
        width: 80px;
        height: 40px;
    }
    
    #search-date{
        width: 50%;
    }
}




